@import "styles-variables";

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap';
@import "fonts";

section {
  padding-top: 100px;
  padding-bottom: 100px;
  overflow: hidden;
}
body{
  font-family: Poppins;
}
.after-line{
  &:after{
    content: "";
    position: absolute;
    height: 3px;
    border-radius: 3px;
    width: 40px;
    background: #ffca00;
    z-index: 999;
    bottom: -17px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
}
h2 {
  line-height: 28px;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 32px;
  color: #444;
  text-transform: uppercase;
  letter-spacing: 4px;
}
a {
  text-decoration: none;
  background-color: transparent;
}
ul {
  list-style-type: none;
}
.p-0 {
  padding: 0!important;
}
.footer-text p {
  margin-bottom: 25px;
}
p {
  line-height: 1.8em;
  font-size: 15px;
  color: #777;
  letter-spacing: .03em;
  text-transform: capitalize;
  font-family: Poppins;
}
.uppercase{
  text-transform: uppercase!important;
}
.transition {
  transition: all ease-out 0.3s;
}
.btn-custom {
  color: #616161;
  font-size: 14px;
  border-radius: 50px;
  padding: 10px 25px;
  border: none;
  background-size: 300% 100%;
  transition: .4s ease-in-out;
  font-weight: 600;
  padding-bottom: 11px;
  position: relative;
  &.arrow{
    &:hover{
      background: #ffd84f;
      .material-icons{
        right: 10px;
      }
    }
  }
  .material-icons{
    position: absolute;
    top: 9px;
    right: 18px;
  }
}
.footer-form {
  .form-group {
    margin-bottom: 20px;
  }
  .form-button {
     text-align: center;
  }
  .btn-custom {
    padding: 12px 47px;
    padding-top: 11px;
    margin-left: 30px;
  }
  .btn-custom.theme-color {
    background-image: linear-gradient(to right, #fff12d,#ffdd19, #ffdf0e, #ffca18);
  }
}
.footer-text .footer-form .form-control {
  margin-bottom: 25px;
  min-height: 49px;
  border-radius: 35px;
  text-transform: uppercase;
  padding-top: 12px;
  padding-bottom: 13px;
  border: 2px solid #eee;
  font-size: 12px;
  text-align: center;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media (max-width: map-get($grid-breakpoints, md)) {
  abe-about{
    text-align: center;
  }
  .footer-form {
    .form-group{
      margin-bottom: 0;
    }
    .btn-custom {
      margin-left: 0;
    }
  }
  #footer-map {
    width: 100%;
    height: 400px!important;
    iframe{
      margin-top: 0px!important;
    }
  }
  .step {
    padding-left: 0!important;
    padding-right: 0!important;
    img{
      bottom: -16px;
      left: 0;
      right: 0;
      margin: auto;
      transform: rotate(90deg);
      top: unset!important;
    }
  }
}
@media (max-width: map-get($grid-breakpoints, sm)) {
  .subscribe{
    .form-control {
      width: 100%;
    }
  }
}