<section>
  <img class="fibonacci" src="../../assets/img/fibo-lines.svg" alt="fibonacci">
  <div class="container">
    <!-- <img class="logo" src="../../assets/img/logo.svg" alt="Deustech"> -->
      <div class="row">
        <div class="col">
          <h3>Alege si Cumpara, Completeaza, 
              Finalizeaza
          </h3>
          <p class="top-p">
              Gastropub mixtape locavore, prism cloud bread DIY meditation mumblecore. Vape franzen food truck cred.
          </p>
          <br>
          <div class="form-button">
            <button class="btn btn-custom theme-color arrow" type="submit">Acceseaza aplicatia<i class="material-icons transition">arrow_right_alt</i></button>
          </div>
        </div>
    </div>
  </div>
</section>
<div class="vertical-dotts">
  <div class="arrow-down-icon">
      <i class="material-icons">expand_more</i>
  </div>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
</div>