:host {
    display: block;
    height: 700px;
    position: relative;
    background-image: linear-gradient(to right, #4c4c4c, #333333);
    margin-bottom: 25px;
    section{
        height: 100%;
        overflow: hidden;
        position: relative;
    }
    button{
        padding-right: 49px;
    }
    h3{
        width: 300px;
        color: white;
        font-family: Poppins;
        margin-top: 30px;
        letter-spacing: 1.3px;
        line-height: 1.45;
        margin-left: 8px;
    }
    .top-p{
        margin-top: 10px;
        margin-left: 8px;
        width: 350px;
        color: #dadada;
    }
}
.fibonacci{
    position: absolute;
    top: -94px;
    right: 0;
    height: 866px;
    opacity: 0.1;
}
.logo{
    width: 257px;
    margin-top: 23px;
}
.vertical-dotts{
    position: absolute;
    right: 0;
    left: 0;
    bottom: -100px;
    z-index: 9999999;
    .arrow-down-icon{
        text-align: center;
        background: #3f3f3f;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin: auto;
        position: relative;
        top: -20px;
        .material-icons{
            color: #dddddd;
            position: relative;
            top: 7px;
        }
    }
    .dot{
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #7b7b7b;
        content: "";
        display: block;
        margin: auto;
        margin-top: 6px;
    }
}