<section>
    <div class="container">
      <p class="uppercase text-center">Our path</p>
      <h5 class="text-center after-line">There Are Many Variations Of Passages Of Lorem Ipsum Available, But The Majority Have Suffered Alteration In Some Form, By Injected Humour.</h5>
      <br>
      <p class="text-center">There Are Many Variations Of Passages Of Lorem Ipsum Available.</p>
      <br><br>
      <div class="row">
        <div class="col-md-4">
          <div class="step text-center">
            <p class="number">1</p>
            <img src="../../assets/img/right-arrow.svg" alt="arrow">
            <p class="title after-line">Lorem Ipsum Available, But The Majority Have<p>
              <p class="content">
                  There Are Many Variations Of Passages Of Lorem Ipsum Available, But The Majority Have Suffered Alteration In Some Form, By Injected Humour.
              </p>
          </div>
        </div>
        <div class="col-md-4">
            <div class="step text-center">
                <p class="number">2</p>
                <img src="../../assets/img/right-arrow.svg" alt="arrow">
                <p class="title after-line">Lorem Ipsum Available, But The Majority Have<p>
                <p class="content">
                    There Are Many Variations Of Passages Of Lorem Ipsum Available, But The Majority Have Suffered Alteration In Some Form, By Injected Humour.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="step text-center">
                <p class="number">3</p>
                <p class="title after-line">Lorem Ipsum Available, But The Majority Have</p>
                <p class="content">
                    There Are Many Variations Of Passages Of Lorem Ipsum Available, But The Majority Have Suffered Alteration In Some Form, By Injected Humour.
                </p>
            </div>
          </div>
      </div>
    </div>
  </section>