:host{
    h5{
        color: #ffca00;
        line-height: 1.6;
        font-size: 23px;
        position: relative;
    }
}
.step{
    padding: 25px;
    .number{
        position: absolute;
        font-size: 122px;
        top: -77px;
        right: 40px;
        color: #ececec;
        font-weight: 600;
        z-index: -1;
    }
    img{
        width: 38px;
        position: absolute;
        right: -20px;
        top: 87px;
    }
    .title{
        font-size: 17px;
        line-height: 1.3;
        font-weight: 500;
        position: relative;
        margin-bottom: 34px;
    }
}