<section>
  <div class="container">
    <div class="row">
      <div class="footer-text text-center col">
        <i class="material-icons">mail_outline</i>
        <h2  class="title md-margin-top">subscribe to <span >newsletter</span></h2>
        <p > There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
        <form  class="subscribe footer-form ng-untouched ng-pristine ng-valid" novalidate="" _lpchecked="1">
          <div class="form-group"><input class="form-control" placeholder="enter your email" type="email"></div>
          <div class="form-button"><button class="btn btn-custom theme-color" type="submit">send</button></div>
        </form>
      </div>
    </div>
  </div>
</section>