.footer-text {
  h2 {
    margin: 25px auto;
  }
}

.title span {
  font-weight: 700;
}
.subscribe{
  .form-control {
    width: 370px;
  }
  .form-group, .form-button{
    display: inline-block;
  }
}
.footer-text{
  margin: auto;
  .material-icons{
    color: #ffe01c;
    font-size: 67px;
  }
  p{
    max-width: 700px;
    margin: auto;
    margin-bottom: 30px;
  }
}