.address-bar {
    background: #3f3f3f;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
}
.bottom-section iframe {
    width: 100%;
    height: 100%;
    border: 0;
}
.footer-style {
    padding: 0;
    margin: 0;
    li{
        position: relative;
    }
}
.footer-style li+li {
    margin-top: 50px;
}
.footer-icon {
    position: absolute;
    top: -3px;
    .material-icons{
        font-size: 29px;
        color: #ffffff;
    }
}
.footer-address a {
    padding-left: 53px;
    color: #ffffff !important;
    letter-spacing: .03em;
    line-height: 22px;
    margin-bottom: 0;
    display: block;
}
#footer-map {
    width: 100%;
    height: 135%;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}