<section class="p-0">
  <div class="container-fluid">
    <div class="bottom-section">
      <div class="row">
        <div class="col-md-6 p-0">
          <div class="address-bar">
            <div>
              <ul class="footer-style">
                <li>
                  <div class="footer-icon"><i class="material-icons">location_on</i></div>
                  <div class="footer-address"><a href="#">B-17 ABC Center, Near Temple, USA 123456</a></div>
                </li>
                <li>
                  <div class="footer-icon"><i class="material-icons">call</i></div>
                  <div class="footer-address"><a href="#">122-456-7890 / 124-789-5690</a></div>
                </li>
                <li>
                  <div class="footer-icon"><i class="material-icons">email</i></div>
                  <div class="footer-address"><a href="#">support@compnay.com</a></div>
                </li>
                <li>
                  <div class="footer-icon"><i class="material-icons">print</i></div>
                  <div class="footer-address"><a href="#">123-456 / 456-789</a></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 p-0">
          <div id="footer-map">
              <iframe src="https://www.google.com/maps/d/embed?mid=1mPaSl1_Fl3bsNFodc9H-rkxJwS_LC8CX" width="100%" allowfullscreen frameborder="0"
              style="border:0; margin-top: -50px;"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>