<section>
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h3>Mai multe despre noi</h3>
          <p class="top-p">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
          </p>
          <ul class="list-block ">
              <li><i class="material-icons">check_circle</i>Nemo enim ipsam voluptatem quia voluptas</li>
              <li><i class="material-icons">check_circle</i>Ut enim ad minima veniam, quis nostrum exercit</li>
              <li><i class="material-icons">check_circle</i>Et harum quidem rerum facilis expedita</li>
          </ul>
        </div>
        <div class="col-md-5">
            <div class="circles-container">
                <span class="circle"></span>
                <span class="circle two"></span>
                <span class="circle three"></span>
                <span class="circle four"></span>
              </div>
        </div>
      </div>
    </div>
</section>