:host{
    .list-block{
        margin-top: 20px;
        color: #969696;
        font-size: 14px;
        padding: 0;
        li{
            .material-icons{
                position: relative;
                top: 7px;
                margin-right: 10px;
                color: #ffce2f;
            }
        }
    }
    .circles-container{
        position: relative;
        .circle{
            width: 200px;
            height: 200px;
            background: transparent;
            content: "";
            border-radius: 50%;
            border-width: 1px;
            border-color: #dadada;
            position: absolute;
            z-index: 99;
            border-style: solid;
            &.two{
                width: 300px;
                height: 300px;
                border-color: #e6e6e6;
            }
            &.three{
                width: 500px;
                height: 500px;
                border-color: #eae8e8;
            }
        }
    }
}